---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { twMerge } from 'tailwind-merge'
import { isNotDraft, toTabGroups } from '../utils'
import UserIcon from '../components/icons/UserIcon.astro'
import MusicNoteIcon from '../components/icons/MusicNoteIcon.astro'

const tabs = await getCollection('tabs')
const tabGroups = toTabGroups(tabs)
---

<Layout
  title="Tino's Tabs"
  description="An evergrowing collection of curated guitar tabs. With video references, lyrics, and other useful stuff."
>
  <h1 class="mb-4 text-3xl font-semibold">Tino's Tabs</h1>
  <p class={twMerge('mb-8 max-w-md text-stone-500', 'dark:text-stone-400')}>
    A collection of tabs I’ve put together throughout the years, with video
    references, lyrics, and other useful stuff. Hope they help!
  </p>
  <ol class="flex flex-col gap-6">
    {
      tabGroups.map((group) => {
        const tabsCount = group.tabs.filter(isNotDraft).length

        return (
          <li
            class={twMerge(
              'relative flex flex-col overflow-clip rounded-2xl bg-stone-50',
              'dark:bg-stone-900',
            )}
          >
            <div
              class={twMerge(
                'sticky top-0 z-10 flex items-center justify-between gap-3 bg-stone-50/90 px-4 py-3 shadow-[inset_0_-1px_0_theme(colors.stone.50/50%)] backdrop-blur-md backdrop-saturate-200',
                'dark:bg-stone-900/80 dark:shadow-[inset_0_-1px_0_theme(colors.stone.900/50%)]',
              )}
            >
              <div class="flex flex-col overflow-clip">
                <div class="truncate text-2xl font-semibold leading-tight">
                  {group.artist.name}
                </div>
                <div
                  class={twMerge(
                    'text-sm text-stone-500',
                    'dark:text-stone-400',
                  )}
                >
                  {tabsCount === 0 && 'No tabs just yet'}
                  {tabsCount === 1 && '1 tab'}
                  {tabsCount > 1 && `${tabsCount} tabs`}
                </div>
              </div>
              <div
                class={twMerge(
                  'relative flex h-12 w-12 shrink-0 items-center justify-center overflow-clip rounded-full bg-stone-100',
                  "after:absolute after:inset-0 after:rounded-[inherit] after:ring-1 after:ring-inset after:ring-black/10 after:content-['']",
                  'dark:bg-stone-800 dark:after:ring-white/10',
                )}
              >
                <UserIcon
                  class={twMerge(
                    'absolute h-11 w-11 translate-y-2 text-stone-200',
                    'dark:text-stone-700',
                  )}
                />
                {group.artist.imageURL && (
                  <Image
                    src={group.artist.imageURL}
                    alt={`${group.artist.name} Profile Image`}
                    class="relative h-12 w-12 rounded-[inherit] object-cover"
                  />
                )}
              </div>
            </div>
            <ol class="flex flex-col px-2 pb-2">
              {group.tabs.map((tab) => (
                <li>
                  <a
                    data-disabled={tab.data.isDraft}
                    href={tab.data.isDraft ? undefined : `/${tab.slug}`}
                    class={twMerge(
                      'group flex items-center gap-3 rounded-lg p-2 transition-colors',
                      'hover:bg-stone-100',
                      'dark:hover:bg-stone-800',
                      'data-[disabled]:pointer-events-none',
                    )}
                  >
                    <div
                      class={twMerge(
                        'relative flex h-10 w-10 shrink-0 items-center justify-center rounded bg-stone-100',
                        "after:absolute after:inset-0 after:rounded-[inherit] after:ring-1 after:ring-inset after:ring-black/10 after:transition-colors after:content-[''] group-hover:after:bg-black/5",
                        'dark:bg-stone-800 dark:after:ring-white/10',
                        'group-data-[disabled]:opacity-50',
                      )}
                    >
                      <MusicNoteIcon
                        class={twMerge(
                          'absolute h-6 w-6 text-stone-200',
                          'dark:text-stone-700',
                        )}
                      />
                      {tab.data.albumImageURL && (
                        <Image
                          src={tab.data.albumImageURL}
                          alt={`${tab.data.album} Album Cover`}
                          class="relative h-10 w-10 rounded-[inherit] object-cover"
                        />
                      )}
                    </div>
                    <div class="flex flex-col overflow-clip">
                      <div class="flex items-center gap-2">
                        <div
                          class={twMerge(
                            'truncate leading-snug',
                            'group-data-[disabled]:opacity-50',
                          )}
                        >
                          {tab.data.title}
                        </div>
                        {tab.data.isDraft && (
                          <div
                            class={twMerge(
                              'rounded-full bg-stone-200 px-2 py-0.5 text-[0.625rem] font-semibold uppercase text-stone-600',
                              'dark:bg-stone-700 dark:text-stone-300',
                            )}
                          >
                            <span class="hidden sm:inline">Coming</span>
                            soon
                          </div>
                        )}
                        {tab.data.isNew && (
                          <div class="rounded-full bg-blue-500 px-2 py-0.5 text-[0.625rem] font-semibold uppercase text-white">
                            New
                          </div>
                        )}
                      </div>
                      <div
                        class={twMerge(
                          'truncate text-sm leading-snug text-stone-500',
                          'dark:text-stone-400',
                          'group-data-[disabled]:opacity-50',
                        )}
                      >
                        {tab.data.album}
                      </div>
                    </div>
                  </a>
                </li>
              ))}
            </ol>
          </li>
        )
      })
    }
  </ol>
</Layout>
