---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { twMerge } from 'tailwind-merge'

function toTabGroups(tabs: Array<CollectionEntry<'tabs'>>) {
  // 'Foo': [tab, tab, ...]
  // 'Bar': [tab, tab, ...]
  const tabsByArtistMap = tabs.reduce<
    Map<string, Array<CollectionEntry<'tabs'>>>
  >((map, tab) => {
    map.set(tab.data.artist, [...(map.get(tab.data.artist) ?? []), tab])
    return map
  }, new Map())

  // [
  //   {
  //     artist: {
  //       name: 'Foo'
  //       imageURL: '...'
  //     }
  //     tabs: [tab, tab, ...]
  //   },
  //   {
  //     artist: {
  //       name: 'Bar'
  //       imageURL: '...'
  //     }
  //     tabs: [tab, tab, ...]
  //   }
  // ]
  const tabGroups = [...tabsByArtistMap.entries()].map(([_, tabs]) => ({
    artist: {
      name: tabs[0].data.artist,
      imageURL: tabs[0].data.artistImageURL,
    },
    tabs,
  }))

  // Sort groups by artist, and their tabs by title
  return tabGroups
    .map((group) => ({
      ...group,
      tabs: group.tabs.sort((a, b) => a.data.title.localeCompare(b.data.title)),
    }))
    .sort((a, b) => a.artist.name.localeCompare(b.artist.name))
}

const tabs = await getCollection('tabs')
const tabGroups = toTabGroups(tabs)
---

<Layout title="Tino's Tabs">
  <h1 class="mb-4 text-3xl font-semibold">Tino's Tabs</h1>
  <p class="mb-8 max-w-md text-stone-500">
    A collection of tabs I’ve put together throughout the years, with video
    references, lyrics, and other useful stuff. Hope they help!
  </p>
  <ol class="flex flex-col gap-6">
    {
      tabGroups.map((group) => (
        <li class="flex flex-col gap-3 rounded-2xl bg-stone-50 p-4 pb-0">
          <div class="flex items-center justify-between gap-2">
            <div class="flex flex-col">
              <div class="text-2xl font-semibold leading-tight">
                {group.artist.name}
              </div>
              <div class="text-sm text-stone-500">
                {`${group.tabs.length} ${
                  group.tabs.length === 1 ? 'tab' : 'tabs'
                }`}
              </div>
            </div>
            <div
              class={twMerge(
                'relative h-12 w-12 rounded-full bg-stone-100',
                "after:absolute after:inset-0 after:rounded-full after:ring-1 after:ring-inset after:ring-black/10 after:content-['']",
              )}
            >
              {group.artist.imageURL && (
                <Image
                  src={group.artist.imageURL}
                  alt={`${group.artist.name} Profile Image`}
                  class="h-12 w-12 rounded-full object-cover"
                />
              )}
            </div>
          </div>
          <ol class="-mx-4 flex flex-col px-2 pb-2">
            {group.tabs.map((tab) => (
              <li>
                <a
                  href={`/${tab.slug}`}
                  class={twMerge(
                    'group flex items-center gap-3 rounded-lg p-2 transition-colors',
                    'hover:bg-stone-100',
                  )}
                >
                  <div
                    class={twMerge(
                      'relative h-10 w-10 rounded bg-stone-100',
                      "after:absolute after:inset-0 after:rounded after:ring-1 after:ring-inset after:ring-black/10 after:transition-colors after:content-[''] group-hover:after:bg-black/5",
                    )}
                  >
                    {tab.data.albumImageURL && (
                      <Image
                        src={tab.data.albumImageURL}
                        alt={`${tab.data.album} Album Cover`}
                        class="h-10 w-10 rounded object-cover"
                      />
                    )}
                  </div>
                  <div class="flex flex-col">
                    <div class="leading-snug">{tab.data.title}</div>
                    <div class="text-sm leading-snug text-stone-500">
                      {tab.data.album}
                    </div>
                  </div>
                </a>
              </li>
            ))}
          </ol>
        </li>
      ))
    }
  </ol>
</Layout>
