---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'

function toTabGroups(tabs: Array<CollectionEntry<'tabs'>>) {
  // 'Foo': [tab, tab, ...]
  // 'Bar': [tab, tab, ...]
  const tabsByArtistMap = tabs.reduce<
    Map<string, Array<CollectionEntry<'tabs'>>>
  >((map, tab) => {
    map.set(tab.data.artist, [...(map.get(tab.data.artist) ?? []), tab])
    return map
  }, new Map())

  // [
  //   {
  //     artist: {
  //       name: 'Foo'
  //       imageURL: '...'
  //     }
  //     tabs: [tab, tab, ...]
  //   },
  //   {
  //     artist: {
  //       name: 'Bar'
  //       imageURL: '...'
  //     }
  //     tabs: [tab, tab, ...]
  //   }
  // ]
  const tabGroups = [...tabsByArtistMap.entries()].map(([_, tabs]) => ({
    artist: {
      name: tabs[0].data.artist,
      imageURL: tabs[0].data.artistImageURL,
    },
    tabs,
  }))

  // Sort groups by artist, and their tabs by title
  return tabGroups
    .map((group) => ({
      ...group,
      tabs: group.tabs.sort((a, b) => a.data.title.localeCompare(b.data.title)),
    }))
    .sort((a, b) => a.artist.name.localeCompare(b.artist.name))
}

const tabs = await getCollection('tabs')
const tabGroups = toTabGroups(tabs)
---

<Layout title="Tino's Tabs">
  <ol class="flex flex-col gap-4">
    {
      tabGroups.map((group) => (
        <li class="bg-stone-50 rounded-xl p-3 flex flex-col gap-3">
          <div class="flex gap-2 justify-between items-center">
            <div class="flex flex-col">
              <div class="font-semibold text-2xl">{group.artist.name}</div>
              <div class="font-medium text-sm text-stone-400">
                {`${group.tabs.length} ${
                  group.tabs.length === 1 ? 'tab' : 'tabs'
                }`}
              </div>
            </div>
            <div class="relative after:content-[''] after:rounded-full after:absolute after:inset-0 after:ring-1 after:ring-inset after:ring-black/10">
              <Image
                src={group.artist.imageURL}
                alt="Artist Avatar"
                class="h-12 w-12 object-cover rounded-full"
              />
            </div>
          </div>
          <ol class="flex flex-col gap-3">
            {group.tabs.map((tab) => (
              <li>
                <a href={`/${tab.slug}`} class="flex gap-2 items-center">
                  <div class="relative after:content-[''] after:rounded after:absolute after:inset-0 after:ring-1 after:ring-inset after:ring-black/10">
                    <Image
                      src={tab.data.albumImageURL}
                      alt="Album Cover"
                      class="h-10 w-10 object-cover rounded"
                    />
                  </div>
                  <div class="flex flex-col">
                    <div class="leading-snug">{tab.data.title}</div>
                    <div class="text-stone-400 leading-snug text-sm">
                      {tab.data.album}
                    </div>
                  </div>
                </a>
              </li>
            ))}
          </ol>
        </li>
      ))
    }
  </ol>
</Layout>
